---
import Layout from "../../layouts/Layout.astro";
import { getImagesByPrefix, getGroupedImages, type ImageModule } from "../../lib/importImages";

export async function getStaticPaths() {
  const groupedImages = await getGroupedImages();
  return groupedImages.map(([prefix]) => ({
    params: { img: prefix },
  }));
}

const { img } = Astro.params;
const imageFiles = await getImagesByPrefix(import.meta.glob<ImageModule>("./*.jpg", { eager: true }), img);
---

<Layout title={img}>
    <div class="flex flex-col gap-1 sm:px-4 items-center">
      {
        imageFiles.map((image) => (
          <img
            src={image}
            class="max-h-[80vh] max-w-full"
            alt={image}
          />
        ))
      }
  </div>
</Layout>
