---
import Layout from "../../layouts/Layout.astro";

import { getGroupedImages } from "../../lib/importImages";

const sortedGroups = await getGroupedImages();
---

<Layout title="axseem's gallery">
    <div class="grid grid-cols-3 gap-1">
        {
            sortedGroups.map(([prefix, images]) => (
                
                <a href={"/gallery/"+prefix} class="relative">
                    {images.length > 1 && (
                        <div class="bg-black absolute bottom-1 right-1 py-4 px-2">
                            <p class="leading-0 font-semibold">{images.length}</p>
                        </div>
                    )}
                    <img
                        src={images[0]}
                        class="rounded object-cover aspect-square"
                        alt={`Thumbnail ${prefix}`}
                    />
                </a>
            ))
        }
    </div>
</Layout>