---
import { getCollection, getEntry, render, type CollectionEntry } from 'astro:content';
import BaseLayout from '../../layouts/Base.astro';
import PageLayout from '../../layouts/Page.astro';

export async function getStaticPaths() {
  const allPosts = await getCollection('blog');
  return allPosts.map((post: CollectionEntry<'blog'>) => ({
    params: { slug: post.id },
  }));
}

const { slug } = Astro.params;

if (slug === undefined) {
  throw new Error("Slug is required");
}

const post = await getEntry('blog', slug);

if (!post) {
  return Astro.redirect("/404");
}

const { Content } = await render(post);
---
<BaseLayout title={post.data.title}>
  <PageLayout>
    <article>
      <h1 class="mono title">{post.data.title}</h1>
      <p class="muted mono">{post.data.date.toDateString().slice(4)}</p>
      <div class="content">
        <Content />
      </div>
    </article>
  </PageLayout>
</BaseLayout>

<style>
.title {
  margin-bottom: 0.5rem;
}
.content {
  display: flex;
  flex-direction: column;
  margin-top: 2rem;
}
</style>
