---
import Layout from "../../layouts/Layout.astro";
import Post from "../../components/Article.astro";
import type { Props as ArticleProps } from "../../components/Article.astro";
import { importArticles } from "../../lib/importArticles";

const blog = await importArticles(
    import.meta.glob<{ frontmatter: ArticleProps }>("./*.md"),
    "blog",
);
---

<Layout title="axseem's blog">
    <ul
        class="flex flex-col gap-4"
    >
        {
            blog.map((post) => (
                <li>
                    <Post {...post} />
                </li>
            ))
        }
    </ul>
</Layout>
