---
import Layout from "../../layouts/Layout.astro";
import Post from "../../components/Article.astro";
import type { Article as ArticleProps } from "../../components/Article.astro";
import { importArticles } from "../../lib/importArticles";

const blog = await importArticles(
    import.meta.glob<{ frontmatter: ArticleProps }>("./*.md"),
    "blog",
);
---

<Layout title="axseem's blog">
    <div class="flex flex-col w-full max-w-48 gap-3 pb-4">
        <div class="text-neutral-300 py-1">
            <a href="/">axseem</a>
            <span> / </span>
            <span class="text-neutral-200 py-1">blog</span>
        </div>
        <h1>Blog</h1>
        <ul class="flex flex-col gap-1">
            {
                blog.map((post) => (
                    <li>
                        <Post {...post} />
                    </li>
                ))
            }
        </ul>
    </div>
</Layout>
