@import "tailwindcss";

@theme {
  --font-sans: 'Inter Variable', 'sans-serif';

  --color-gray-0: hsl(0deg,0%,7%,100%);
  --color-gray-1: #292929;
  --color-gray-2: #CCCCCC;
  --color-gray-3: #F5F5F5;

  --color-red-0: #471F25;
  --color-red-1: #862D34;

  --color-green-0: #1F473A;
  --color-green-1: #2A6F47;

  --color-blue-0: #2E293D;
  --color-blue-1: #393F84;
}

@layer base {
  :root {
    color-scheme: dark;
  }

  h1 {
    font-size: var(--text-4xl);
    font-weight: 700;
  }

  h2 {
    font-size: var(--text-3xl);
    font-weight: 600;
  }

  h3 {
    font-size: var(--text-2xl);
    font-weight: 500;
  }

  a {
    text-decoration-line: underline;
  }

  code {
    background: #1a1a1a;
    padding: 0.2em 0.4em;
    border-radius: 4px;
    font-family: monospace;
  }

  pre {
    background: #1a1a1a;
    padding: 1rem;
    border-radius: 8px;
    overflow-x: auto;
  }
}