---
import BaseLayout from "../layouts/Base.astro";
import PageLayout from "../layouts/Page.astro";
---

<BaseLayout title="Page not found">
  <PageLayout>
    <h1 class="mono"># 404</h1>
    <p class="muted">This page doesn't exist or still in the progress.</p>
  </PageLayout>
</BaseLayout>
