---
import BaseLayout from '../layouts/Base.astro';
import PageLayout from '../layouts/Page.astro';
---
<BaseLayout title="about axseem">
  <PageLayout>
    <h1 class="mono"># about</h1>
    <p>
      Comming soon!
    </p>
  </PageLayout>
</BaseLayout>
