---
import BaseLayout from '../layouts/Base.astro';
import PageLayout from '../layouts/Page.astro';
---
<BaseLayout title="axseem's gallery">
  <PageLayout>
    <h1 class="mono"># gallery</h1>
    <p>
      Comming soon!
    </p>
  </PageLayout>
</BaseLayout>
