---
import { Image } from "astro:assets";
import Layout from "../layouts/Layout.astro";
import Article from "../components/Article.astro";
import type { Props as ArticleProps } from "../components/Article.astro";
import { importArticles } from "../lib/importArticles";
import profilePicture from "../assets/images/profile.jpg";
import type { Props as ProjectProps } from "../components/Project.astro";
import flakeImage from "../assets/images/anywhy-flake.jpg";
import Project from "../components/Project.astro";
import "@fontsource-variable/inter";

const blog = (
  await importArticles(
    import.meta.glob<{ frontmatter: ArticleProps }>("./blog/*.md"),
    "blog",
  )
).slice(0, 2);

const projects: ProjectProps[] = [
    {
        title: "Anywhy Flake",
        description: "Ultra-thin minimalistic ergonomic keyboard with 40/46/58 keys",
        image: flakeImage,
        tags: ["Hardware", "KiCad", "FreeCAD"],
        url: "https://github.com/anywhy-io/flake",
    }
]
---

<Layout title="axseem's website">
    <div class="flex flex-col justify-center items-center w-full h-full gap-16">
      <div
        class="flex flex-col gap-8"
      >
        <Image
          src={profilePicture}
          alt="profile picture"
          class="aspect-square border-none rounded max-w-36 w-24 sm:w-full h-full"
        />

        <div class="flex flex-col gap-4 w-full">
          <div class="flex flex-col">
            <h1>Hi, I'm Max</h1>
            <p class="font-light">
              Also known as @axseem or Maksym Bohdan. Here you will find my
              thoughts, projects, ideas and much more.
            </p>
          </div>
          <div class="flex gap-4 gap-y-0 text-gray-2 flex-wrap">
            <a target="_blank" href="mailto:max@axseem.me">Email</a>
            <a target="_blank" href="https://github.com/axseem">GitHub</a>
            <a target="_blank" href="https://instagram.com/axseem">Instagram</a>
            <a target="_blank" href="https://reddit.com/u/axseem">Reddit</a>
            <a target="_blank" href="https://twitch.tv/axseem">Twitch</a>
            <a target="_blank" href="https://x.com/axseemm">X/Twitter</a>
            <a target="_blank" href="https://t.me/axseem">Telegram</a>
          </div>
        </div>
      </div>

      <section class="flex flex-col gap-4 w-full">
        <a href="/projects" class="font-medium text-xl no-underline">My Projects ></a>
        <ul
          class="flex flex-col"
        >
          {
              projects.map((project) => (
                  <li>
                      <Project {...project}/>
                  </li>
              ))
          }
      </ul>
      </section>

      <section class="flex flex-col gap-4 w-full">
        <a href="/blog" class="font-medium text-xl no-underline">Recent Posts ></a>
        <ul
          class="flex flex-col gap-4"
        >
          {
            blog.map((post) => (
              <li>
                <Article {...post} truncate={true}/>
              </li>
            ))
          }
        </ul>
      </section>
</Layout>