---
import BaseLayout from '../layouts/Base.astro';
// import { Image } from "astro:assets";
// import profileImage from "../content/profile.jpg";

const navLinks = [
  // { href: "/about", label: "/about" },
  { href: "/blog", label: "/blog" },
  // { href: "/gallery", label: "/gallery" },
  { href: "/journal", label: "/journal" },
  { href: "/projects", label: "/projects" },
];
---
<BaseLayout title="axseem">
  <div class="page">
    <main class="mono">
      <header>
      <!-- <Image src={profileImage} alt="axseem's profile picture" class="avatar"/> -->
        <div class="greeting">
          <h1>Hey! I'm Max</h1>
          <p class="muted thin">also known as @axseem or Maksym&nbspBohdan</p>
        </div>
      </header>
      <hr />
      <nav>
        {navLinks.map(link => <a href={link.href}>{link.label}</a>)}
      </nav>
    </main>
  </div>
</BaseLayout>

<style>
  .page {
    display: grid;
    place-items: center;
    min-height: 100vh;
  }
  main {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    padding: 1.5rem;
    font-size: 1.25rem;
    line-height: 1;
  }
  header {
    display: flex;
    align-items: center;
    gap: 1.5rem;
  }
  h1, p {
    margin: 0;
  }
  .avatar {
    width: 5rem;
    height: 5rem;
    background-color: var(--bg-1);
    flex-shrink: 0;
  }
  .greeting {
    display: flex;
    flex-direction: column;
    gap: 0.75rem;
  }
  nav {
    display: flex;
    justify-content: space-between;
    gap: 0.25rem;
  }
  @media (width < 48rem) {
    main {
      line-height: inherit;
    }
    header {
      flex-direction: column;
      align-items: start;
    }
    nav {
      flex-direction: column;
    }
  }
</style>
