---
export interface Props {
    title: string;
    date: string;
    summary: string;
    minutesRead: string;
    url: string;
    truncate?: boolean;
}

const { title, date, summary, minutesRead, url, truncate } = Astro.props;
---

<a
    href={url}
    class="flex flex-col no-underline hover:translate-x-0.5 border-white transition py-1 w-full"
>
    <h3 style={truncate ? "overflow: hidden;text-overflow: ellipsis;white-space: nowrap;" : ""}>{title}</h3>
    <p class="text-neutral-300" style={truncate ? "overflow: hidden;text-overflow: ellipsis;white-space: nowrap;" : ""}><em>{summary}</em></p>
    <p class="text-neutral-500">
        {new Date(date).toDateString().slice(4)} - {minutesRead}
    </p>
</a>
