---
export interface Props {
    date: string;
    mood: number;
    maxMood?: number;
    title?: string;
    summary?: string;
}

const { date, mood, maxMood = 5, title, summary } = Astro.props;
---


<section>
  <div class="meta mono muted">
    <span>{date}</span>
    <span>{`mood: [${mood}/${maxMood}]`}</span>
  </div>
  <div>
    <slot/>
  </div>
</section>

<style>
  .meta {
    display: flex;
    justify-content: space-between;
  }
  section {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    margin-bottom: 1rem;
  }
</style>


