---
export interface Props {
    date: string;
    mood: number;
    maxMood?: number;
    title?: string;
    summary?: string;
}

const { date, mood, maxMood = 5, title, summary } = Astro.props;
---


<section>
  <div class="meta mono muted">
    <span>{date}</span>
    {mood != 0 && <span>{`mood:[${mood}/${maxMood}]`}</span>}
  </div>
  <div>
    <slot/>
  </div>
</section>

<style>
  .meta {
    display: flex;
    justify-content: space-between;
  }
  section {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    border-top-width: 1px;
    padding: 1.5rem 0 0.5rem 0;
  }
  @media (width < 64rem) {
      section {
        margin: 0 -1.5rem;
        padding: 1.5rem 1.5rem 0.5rem 1.5rem;
      }
  }
</style>


