---
export interface Props {
    time: string
}

const {time} = Astro.props;
---

<div class="container">
    <div class="line"/>
    <span class="muted mono">{time}</span>
    <div class="line"/>
</div>

<style>
  .container{
    display: flex;
    gap: 2rem;
    align-items: center;
    margin-bottom: 1rem;
  }
  .line {
    border-top: dashed 2px var(--bd);
    width: 100%;
  }
</style>
