---
import Layout from "../../layouts/Layout.astro";
import flakeImage from "./anywhy-flake.jpg";
import type { Props as ProjectProps } from "../../components/Project.astro";
import Project from "../../components/Project.astro";


const projects: ProjectProps[] = [
    {
        title: "Anywhy Flake",
        description: "Ultra-thin minimalistic ergonomic keyboard with 40/46/58 keys",
        image: flakeImage,
        tags: ["Hardware", "KiCad", "FreeCAD"],
        url: "https://github.com/anywhy-io/flake",
    }
]
---

<Layout title="axseem's blog">
    <ul
        class="flex flex-col"
    >
        {
            projects.map((project) => (
                <li>
                    <Project {...project}/>
                </li>
            ))
        }
    </ul>
</Layout>
