---
import Layout from "../../layouts/Layout.astro";
import { getImages, type ImageModule } from "../../lib/importImages";

export async function getStaticPaths() {
  const images = await getImages(import.meta.glob<ImageModule>(["./*.jpg", "./*.webp"]));

  images.sort((a, b) => {
    const numA = parseInt(a.split('.')[0], 10);
    const numB = parseInt(b.split('.')[0], 10);
    return numB - numA;
  })

  return images.map((image) => ({
    params: { img: image.split("/").pop()?.split(".")[0] || "" },
  }));
}

const { img } = Astro.params;
const imageFiles = Object.entries(await import.meta.glob<ImageModule>(["./*.jpg", "./*.webp"], { eager: true }))

const image = imageFiles
  .filter(([path]) => path.includes(`/${img}`))[0][1].default.src
---

<Layout title={img}>
  <div class="flex flex-col gap-1 sm:px-4 items-center">
    <img
      src={image}
      class="max-h-[80vh] max-w-full"
      alt={img}
    />
  </div>
</Layout>