---
import Layout from "../../layouts/Layout.astro";

import { getImages, type ImageModule} from "../../lib/importImages";

const images = await getImages(import.meta.glob<ImageModule>(["./*.jpg", "./*.webp"]));

images.sort((a, b) => {
    const numA = parseInt(a.split("/").pop()?.split(".")[0] || "", 10);
    const numB = parseInt(b.split("/").pop()?.split(".")[0] || "", 10);

    return numB - numA;
})
---

<Layout title="axseem's daily photo gallery">
    <div class="grid grid-cols-5 gap-1">
        {
            images.map((image) => (
                
                <a href={"/daily-photo/"+image.split("/").pop()?.split(".")[0] || ""} class="relative">
                    <img
                        src={image}
                        class="rounded object-cover aspect-square"
                        alt={`Thumbnail ${image}`}
                    />
                </a>
            ))
        }
    </div>
</Layout>
