---
import "../styles/global.css";
import "@fontsource-variable/inter";
import Nav from "../components/Nav.astro";
const { title = "@axseem" } = Astro.props;
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>
	<body
		class="bg-gray-0 text-gray-3 flex flex-col md:flex-row justify-center items-start overflow-y-scroll w-full"
	>
	<Nav/>
	<main class="flex flex-col gap-4 w-full max-w-196 h-full md:p-8 p-4">
		<slot />
	</main>
	</body>
</html>
