---
import Header from '../components/Header.astro';
---

<div class="vertical">
  <Header />
  <main>
    <slot />
  </main>
</div>

<style>
  .vertical {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 3rem;
  }
  main {
    display: flex;
    flex-direction: column;
    max-width: 48rem;
    margin: 0 1.5rem;
    width: 100%;
    padding-bottom: 8rem;
  }
  @media (width < 64rem) {
    .vertical {
      padding: 0 1.5rem;
    }
  }
</style>
